Python Home

In [5]:
print('Hello, World!')

Hello, World!

Test

In [1]:
#What is a correct way to declare a Python variable?
x = 5

In [3]:
#True or False: You can declare string variables with single or double quotes.
x = "John"
#same as
x = 'John'
# true

In [5]:
#True or False: Variable names are not case-sensitive.
a = 5
#same as
A = 5
# false

#Select the correct functions to print the data type of a variable:
----(----(myvar)) -> print(type(myvar))

Python Get Started

In [9]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]

In [11]:
exit() #in command line

Test

1) What is the correct file extension for Python files?
answer: .py
2) What is a correct command line syntax for checking if python is installed on your computer? (And also to check the Python version)
answer: python --version
3) What is a correct syntax to exit the Python command line interface?
answer: exit()

Python Syntax

In [ ]:
x = 5
y = "Hello, World!"

In [ ]:
#This is a comment
print('Hello, World!')

Test

True or False: Indentation in Python is for readability only.
False
1) Insert the missing part of the code below to output "Hello World".
print('Hello, World!')
2) Complete the code block, print "YES" if 5 is larger than 2.
Hint: remember the indentation.
if 5 > 2
    print('YES')

Python comment

In [ ]:
#This is a comment
print("Hello, World!")

In [ ]:
print("Hello, World!") #This is a comment

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Test

1)Which character is used to define a Python comment:
answer: #

2)Comments in Python are written with a special character, which one?
#This is a comment

3)Use a multiline string to make the a multiline comment:
'''
This is a comment
written in 
more than just one line
'''

Pythin variables

In [3]:
#Creating variables
x = 5
y = "John"
print(x)
print(y)

5
John

In [1]:
#Creating variables
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
#Casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
#Get the type
x = 5
y = "John"
print(type(x))
print(type(y))

In [ ]:
#Single or Double Quotes?
x = "John"
# is the same as
x = 'John'

In [ ]:
#Case-Sensitive
a = 4
A = "Sally"
#A will not overwrite a

Variable Names

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

In [ ]:
#Multi Words Variable Names
#Camel Case
myVariableName = "John"
#Pascal Case
MyVariableName = "John"
#Snake Case
my_variable_name = "John"

Test

1) Which is NOT a legal variable name?
my-var = 20

2) Create a variable named carname and assign the value Volvo to it.
carname = 'Volvo'

3) Create a variable named x and assign the value 50 to it.
x = 50

Assign Multiple Values

In [ ]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
#One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

In [ ]:
Unpack a Collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Test

1) What is a correct syntax to add the value 'Hello World', to 3 variables in one statement?
x = y = z = 'Hello World'

2) Insert the correct syntax to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"

3) Consider the following code:

fruits = ['apple', 'banana', 'cherry']
a, b, c = fruits
print(a)

What will be the result of a?
apple

Output Variables

In [ ]:
x = "Python is awesome"
print(x)

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

In [5]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

In [7]:
#Incorrect
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = 5
y = "John"
print(x, y)

Test

1) Consider the following code:
print('Hello', 'World')
What will be the printed result?

Hello World

2) Consider the following code:

a = 'Hello'
b = 'World'
print(a + b)

What will be the printed result?
HelloWorld

3) Consider the following code:

a = 4
b = 5
print(a + b)

What will be the printed result?
9

Global Variables

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

In [ ]:
#The global Keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [9]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Test

1) Consider the following code:

x = 'awesome'
def myfunc():
  x = 'fantastic'
myfunc()
print('Python is ' + x)

What will be the printed result?
Python is awesome

2) Insert the correct keyword to make the variable x belong to the global scope.
def myfunc():
global x
  x = "fantastic"

3) Consider the following code:
x = 'awesome'
def myfunc():
  global x
  x = 'fantastic'
myfunc()
print('Python is ' + x)
What will be the printed result?

Python is fantastic

Python Data Types

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [ ]:
x = 5
print(type(x))

In [ ]:
#Setting the Data Type
x = 'Hello, World!' #str
x = 20 #int
x = 20.5 #float
x = 1j #complex
x = ['apple', 'banana', 'cherry'] #list
x = ('apple', 'banana', 'cherry') #tuple
x = range(6) #range
x = ('name' : 'John', 'age' : 36) #dict
x = {'apple', 'banana', 'cherry'} #set
x = frozenset(('apple', 'banana', 'cherry')) #frozenset
x = True #bool
x = b'Hello' #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
x = None #NoneType

In [ ]:
#Setting the Specific Data Type
x = str('Hello, World') #str
x = int(20)	#int	
x = float(20.5)	#float	
x = complex(1j)	#complex	
x = list(("apple", "banana", "cherry"))	#list	
x = tuple(("apple", "banana", "cherry")) #tuple	
x = range(6) #range	
x = dict(name="John", age=36) #dict	
x = set(("apple", "banana", "cherry")) #set	
x = frozenset(("apple", "banana", "cherry")) #frozenset	
x = bool(5)	#bool	
x = bytes(5) #bytes	
x = bytearray(5) #bytearray	
x = memoryview(bytes(5)) #memoryview

Test

1) If x = 5, what is a correct syntax for printing the data type of the variable x?
print(type(x))

2) The following code example would print the data type of x, what data type would that be?
x = 5
print(type(x))
ans: int

3) The following code example would print the data type of x, what data type would that be?
x = "Hello World"
print(type(x))
ans: str

4) The following code example would print the data type of x, what data type would that be?

x = 20.5
print(type(x))
ans: float

5) The following code example would print the data type of x, what data type would that be?

x = ["apple", "banana", "cherry"]
print(type(x))
ans: list

6) The following code example would print the data type of x, what data type would that be?

x = ("apple", "banana", "cherry")
print(type(x))
ans: tuple

7) The following code example would print the data type of x, what data type would that be?

x = {"name" : "John", "age" : 36}
print(type(x))
ans: dict

8) The following code example would print the data type of x, what data type would that be?

x = True
print(type(x))
ans: bool

Python Numbers

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

In [ ]:
#int
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

In [ ]:
#float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

In [ ]:
#float with e
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

In [ ]:
#complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

In [11]:
#Type conversion
#you can convert int and float to complex, but cannot complex to both of them
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#Random number
import random

print(random.randrange(1, 10))

Test

1) Which is NOT a legal numeric data type in Python:
long

2) Insert the correct syntax to convert x into a floating point number.
x = 5
x = float(x)

3) Insert the correct syntax to convert x into a integer.
x = 5.5
x = int(x)

4) Insert the correct syntax to convert x into a complex number.
x = 5
x = complex(x)

Python casting

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Test

1) What will be the result of the following code:
print(int(35.88))
ans: 35

2) What will be the result of the following code:
print(float(35))

ans: 35.0

3) What will be the result of the following code:
print(str(35.82))
ans: 35.82

Python string

In [ ]:
print("Hello")
print('Hello')

In [ ]:
#Quotes Inside Quotes
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

In [ ]:
#Assign String to a Variable
a = "Hello"
print(a)

In [ ]:
#Multiline Strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

In [ ]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

In [ ]:
#Looping Through a String
for x in "banana":
  print(x)

In [ ]:
#String Length
a = "Hello, World!"
print(len(a))

In [ ]:
#Check String
txt = "The best things in life are free!"
print("free" in txt)

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

In [ ]:
#Check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

Test

1) What will be the result of the following code:

x = 'Welcome'
print(x[3])
ans: c

2) Use the len function to print the length of the string.

x = "Hello World"
print(len(x))

3) Get the first character of the string txt.

txt = "Hello World"
x = txt[0]

4) Insert the correct keyword to check if the word 'free' is present in the text:

txt = 'The best things in life are free!'
if 'free'  txt:
  print('Yes, free is present in the text.')

Slicing Strings

In [13]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
#Slice From the Start
b = "Hello, World!"
print(b[:5])

In [ ]:
#Slice To the End
b = "Hello, World!"
print(b[2:])

In [ ]:
#Negative Indexing
b = "Hello, World!"
print(b[-5:-2]

Test

1) What will be the result of the following code:

x = 'Welcome'
print(x[3:5])
ans: co

2) Get the characters from index 2 to index 4 (llo).

txt = "Hello World"
x = 
txt[2:5]

3) What will be the result of the following code:

x = 'Welcome'
print(x[3:])
ans: come

Modify String

In [ ]:
#Upper Case
a = "Hello, World!"
print(a.upper())

In [ ]:
#Lower Case
a = "Hello, World!"
print(a.lower())

In [ ]:
#Remove Whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [15]:
#Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
#Split String
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

Test

1) What is a correct syntax to print a string in upper case letters?

ans: 'Welcome'.upper()

2) Return the string without any whitespace at the beginning or the end.

txt = " Hello World "
x = 
txt.strip()

3) Convert the value of txt to upper case.

txt = "Hello World"
txt = 
txt.upper()

4) Convert the value of txt to lower case.

txt = "Hello World"
txt = 
txt.lower()

5) Replace the character H with a J.

txt = "Hello World"
txt = txt.replace('H', 'J')

String Concatenation

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Test

1) What is a correct syntax to merge variable x and y into variable z?
ans: z = x + y

2) What will be the result of the following code:
x = 'Welcome'
y = 'Coders'
print(x + y)
ans: WelcomeCoders

3) Consider this code:
a = 'Join'
b = 'the'
c = 'party'
What is a correct syntax to print 'Join the party'?
ans: print(a + ' ' + b + ' ' + c)

Format - String

In [ ]:
#cannot combine int and str
age = 36
txt = "My name is John, I am " + age
print(txt)

In [ ]:
#F-Strings
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [ ]:
#Placeholders and Modifiers
price = 59
txt = f"The price is {price} dollars"
print(txt)

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

Test

1) If x = 9, what is a correct syntax to print 'The price is 9.00 dollars'?
ans: print(f'The price is {x:.2f} dollars')

2) Insert the correct syntax to add a placeholder for the age parameter.

age = 36
txt = f"My name is John, and I am {age}"
print(txt)

3) What will be the result of the following code:
print(f'The price is {2 + 3} dollars')
ans: The price is 5 dollars

Escape Characters

In [ ]:
#You will get an error if you use double quotes inside a string
#that is surrounded by double quotes:
txt = "We are the so-called "Vikings" from the north."

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

String Methods
Method	        Description
capitalize()	Converts the first character to upper case
casefold()	    Converts string into lower case
center()        Returns a centered string
count()	        Returns the number of times a specified value occurs in a string
encode()	    Returns an encoded version of the string
endswith()	    Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	        Searches the string for a specified value and returns the position of where it was found

format()	    Formats specified values in a string
format_map()	Formats specified values in a string
index()	        Searches the string for a specified value and returns the position of where it was found

isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning